In [1]:
import pandas as pd
import numpy as np

In [2]:
PATH= r"C:\Users\Ivana\OneDrive\Desktop\SIR\SIR_projekt\Crash_Data.csv"

In [3]:
data = pd.read_csv(PATH, delimiter=',',nrows=52844, low_memory=False)

In [4]:
PATH= r"C:\Users\Ivana\OneDrive\Desktop\SIR\SIR_projekt\Crash_Data.csv"
data = pd.read_csv(PATH, delimiter=',',nrows=52844, low_memory=False)
# Zamjena praznih vrijednosti sa NaN
data.replace('', np.nan, inplace=True)

In [5]:
print(data.head())

   Crash ID State  Month  Year   Dayweek   Time Crash Type Bus Involvement  \
0  20212133   Vic      9  2021    Sunday   0:30     Single             NaN
1  20214022    SA      9  2021  Saturday  23:31   Multiple              No
2  20212096   Vic      9  2021  Saturday  23:00     Single             NaN
3  20212145   Vic      9  2021  Saturday  22:25     Single             NaN
4  20212075   Vic      9  2021  Saturday   5:15     Single             NaN

  Heavy Rigid Truck Involvement Articulated Truck Involvement  ... Age  \
0                           NaN                           NaN  ...  38
1                            No                            No  ...  28
2                           NaN                           NaN  ...  19
3                           NaN                           NaN  ...  23
4                           NaN                           NaN  ...  46

   National Remoteness Areas           SA4 Name 2016  National LGA Name 2017  \
0   Inner Regional Australia  Melbourne - Outer East        Yarra Ranges (S)
1  Major Cities of Australia        Adelaide - North            Playford (C)
2   Inner Regional Australia                    Hume         Wangaratta (RC)
3   Outer Regional Australia                    Hume         Wangaratta (RC)
4  Major Cities of Australia  Melbourne - South East               Casey (C)

  National Road Type Christmas Period Easter Period Age Group Day of week  \
0      Arterial Road               No            No  26_to_39     Weekend
1                NaN               No            No  26_to_39     Weekend
2        Access road               No            No  17_to_25     Weekend
3      Arterial Road               No            No  17_to_25     Weekend
4         Local Road               No            No  40_to_64     Weekend

  Time of day
0       Night
1       Night
2       Night
3       Night
4       Night

[5 rows x 23 columns]

In [6]:
# Ispis dimenzija skupa podataka (potrebno je učitati sve podatke radi analize, ne samo prvih 2000 redova)
print(data.shape)

(52843, 23)

In [7]:
# Ispis imena stupaca i nedostajućih vrijednosti
print(data.isna().sum())

Crash ID                             0
State                                0
Month                                0
Year                                 0
Dayweek                              0
Time                                40
Crash Type                           0
Bus Involvement                     22
Heavy Rigid Truck Involvement    20515
Articulated Truck Involvement       22
Speed Limit                        702
Road User                            0
Gender                              27
Age                                  0
National Remoteness Areas        45965
SA4 Name 2016                    45951
National LGA Name 2017           45950
National Road Type               45966
Christmas Period                     0
Easter Period                        0
Age Group                           90
Day of week                          0
Time of day                          0
dtype: int64

In [8]:
# Ispis broja jedinstvenih vrijednosti po stupcima
print(data.nunique())

Crash ID                         47567
State                                8
Month                               12
Year                                33
Dayweek                              7
Time                              1413
Crash Type                           2
Bus Involvement                      2
Heavy Rigid Truck Involvement        2
Articulated Truck Involvement        2
Speed Limit                         19
Road User                            7
Gender                               3
Age                                103
National Remoteness Areas            5
SA4 Name 2016                       88
National LGA Name 2017             500
National Road Type                  13
Christmas Period                     2
Easter Period                        2
Age Group                            6
Day of week                          2
Time of day                          2
dtype: int64

In [9]:
# Ispis tipova podataka po stupcima (analiza kvanitativnih i kvalitativnih varijabli)
print(data.dtypes)

Crash ID                          int64
State                            object
Month                             int64
Year                              int64
Dayweek                          object
Time                             object
Crash Type                       object
Bus Involvement                  object
Heavy Rigid Truck Involvement    object
Articulated Truck Involvement    object
Speed Limit                      object
Road User                        object
Gender                           object
Age                               int64
National Remoteness Areas        object
SA4 Name 2016                    object
National LGA Name 2017           object
National Road Type               object
Christmas Period                 object
Easter Period                    object
Age Group                        object
Day of week                      object
Time of day                      object
dtype: object

In [10]:
# Ispis broja jedinstvenih vrijednosti po stupcima
for column in data:
    print(data[column].value_counts())
    input("...")

Crash ID
19891474    35
19891105    20
19943355    12
19903318    11
20072222    11
            ..
20072044     1
20076027     1
20071308     1
20073064     1
19896063     1
Name: count, Length: 47567, dtype: int64
...
State
NSW    16293
Vic    11562
Qld    10495
WA      6276
SA      4547
NT      1642
Tas     1550
ACT      478
Name: count, dtype: int64
...
Month
12    4721
3     4673
8     4512
10    4509
5     4447
11    4388
9     4337
6     4333
1     4329
7     4321
4     4298
2     3975
Name: count, dtype: int64
...
Year
1989    2800
1990    2331
1991    2113
1995    2017
1992    1974
1996    1970
1993    1953
1994    1928
2000    1817
1997    1767
1999    1764
1998    1755
2001    1737
2002    1715
2005    1627
2003    1621
2007    1603
2006    1598
2004    1583
2009    1491
2008    1437
2010    1353
2012    1300
2016    1292
2011    1277
2017    1222
2015    1204
2013    1187
2019    1186
2014    1151
2018    1134
2020    1093
2021     843
Name: count, dtype: int64
...
Dayweek
Saturday     9696
Friday       8665
Sunday       8460
Thursday     7106
Wednesday    6663
Tuesday      6145
Monday       6108
Name: count, dtype: int64
...
Time
15:00    1144
16:00    1055
18:00     983
17:00     963
14:00     944
         ...
4:39        1
7:36        1
6:36        1
2:12        1
6:57        1
Name: count, Length: 1413, dtype: int64
...
Crash Type
Single      29249
Multiple    23594
Name: count, dtype: int64
...
Bus Involvement
No     51835
Yes      986
Name: count, dtype: int64
...
Heavy Rigid Truck Involvement
No     30735
Yes     1593
Name: count, dtype: int64
...
Articulated Truck Involvement
No     47476
Yes     5345
Name: count, dtype: int64
...
Speed Limit
100            18248
60             13686
80              6119
110             6038
50              2903
70              2538
90              1137
-9               684
40               346
75               254
130              116
20                27
10                18
30                14
<40                5
5                  3
25                 2
Unspecified        2
15                 1
Name: count, dtype: int64
...
Road User
Driver                          23816
Passenger                       12269
Pedestrian                       8242
Motorcycle rider                 6637
Pedal cyclist                    1424
Motorcycle pillion passenger      363
Other/-9                           92
Name: count, dtype: int64
...
Gender
Male           37813
Female         15002
Unspecified        1
Name: count, dtype: int64
...
Age
18     1953
19     1795
20     1760
21     1593
22     1417
       ...
97       17
98        7
99        6
101       2
100       1
Name: count, Length: 103, dtype: int64
...
National Remoteness Areas
Major Cities of Australia    2370
Inner Regional Australia     2213
Outer Regional Australia     1652
Very Remote Australia         339
Remote Australia              304
Name: count, dtype: int64
...
SA4 Name 2016
Western Australia - Wheat Belt    230
South Australia - South East      201
Northern Territory - Outback      172
Capital Region                    167
Central West                      161
                                 ...
Moreton Bay - South                19
Brisbane - North                   18
Toowoomba                          14
Brisbane Inner City                11
Brisbane - West                     4
Name: count, Length: 88, dtype: int64
...
National LGA Name 2017
Central Coast      91
Brisbane (C)       73
Lake Macquarie     62
Gold Coast (C)     61
Moreton Bay (R)    60
                   ..
Esperance           1
Perenjori (S)       1
Derby - West Ki     1
Kent (S)            1
Leonora (S)         1
Name: count, Length: 500, dtype: int64
...
National Road Type
National or State Highway    1863
Arterial Road                1574
Local Road                   1307
Sub-arterial Road            1048
Collector Road                483
ARTERIAL ROAD                 195
NATIONAL OR STATE HIGHWAY     156
LOCAL ROAD                    127
Access road                   101
Undetermined                   15
Pedestrian Thoroughfare         5
Busway                          2
ACCESS ROAD                     1
Name: count, dtype: int64
...
Christmas Period
No     51208
Yes     1635
Name: count, dtype: int64
...
Easter Period
No     52573
Yes      270
Name: count, dtype: int64
...
Age Group
17_to_25       13771
40_to_64       13415
26_to_39       12364
75_or_older     5110
0_to_16         4080
65_to_74        4013
Name: count, dtype: int64
...
Day of week
Weekday    31066
Weekend    21777
Name: count, dtype: int64
...
Time of day
Day      30117
Night    22726
Name: count, dtype: int64
...

In [11]:
# Ispis imena stupaca
print(data.columns.values)

['Crash ID' 'State' 'Month' 'Year' 'Dayweek' 'Time' 'Crash Type'
 'Bus Involvement' 'Heavy Rigid Truck Involvement'
 'Articulated Truck Involvement' 'Speed Limit' 'Road User' 'Gender' 'Age'
 'National Remoteness Areas' 'SA4 Name 2016' 'National LGA Name 2017'
 'National Road Type' 'Christmas Period' 'Easter Period' 'Age Group'
 'Day of week' 'Time of day']

Je li je skup podataka dovoljno velik? Mislim da je s obzirom da ima preko 52tis redaka.
Je li skup ima dovoljno različite podatke? Svakako ima s obzirom da ima 23 stupaca.
Je li skup ima vremensku dimenziju? Ima vremensku dimenziju- mjesec, godinu pa čak i koji je dan i vrijeme u danu.
Je li skup ima kvantitativne i kvalitativne podatke? Ima, object su uglavnom kvalitativni, a int i float numerički.
Je li skup ima puno nedostajućih vrijednosti? Pa i ima ali mislim da je 200 zapravo malo kad ima preko 50tis redaka....

In [12]:
# 1. Skripta za predprocesiranje skupa podataka

In [13]:
data = pd.read_csv(PATH, delimiter=',', low_memory=False)
print("CSV size before: ", data.shape)

CSV size before:  (52843, 23)

In [14]:
data.drop(columns=['National Remoteness Areas', 'SA4 Name 2016', 'National LGA Name 2017', 'National Road Type'], inplace=True)

In [15]:
data= data.dropna() #briše sve nedostajuće vrijednosti, NaN

In [16]:
print("CSV size after: ", data.shape)

CSV size after:  (31753, 19)

In [17]:
print(data.head())

    Crash ID State  Month  Year   Dayweek   Time Crash Type Bus Involvement  \
1   20214022    SA      9  2021  Saturday  23:31   Multiple              No
5   20213034   Qld      9  2021  Saturday   4:00   Multiple              No
6   20215071    WA      9  2021  Saturday  19:10     Single              No
9   20213092   Qld      9  2021  Saturday   2:00     Single              No
10  20214053    SA      9  2021  Thursday  21:00     Single              No

   Heavy Rigid Truck Involvement Articulated Truck Involvement Speed Limit  \
1                             No                            No         110
5                             No                            No         100
6                             No                            No         100
9                             No                            No          60
10                            No                            No          80

           Road User  Gender  Age Christmas Period Easter Period Age Group  \
1         Pedestrian  Female   28               No            No  26_to_39
5   Motorcycle rider    Male   19               No            No  17_to_25
6             Driver  Female   20               No            No  17_to_25
9             Driver    Male   47               No            No  40_to_64
10            Driver    Male   24               No            No  17_to_25

   Day of week Time of day
1      Weekend       Night
5      Weekend       Night
6      Weekend       Night
9      Weekend       Night
10     Weekday       Night

In [18]:
data.to_csv("Crash_Data_novi.csv", index=False) # Spremanje predprocesiranog skupa podataka u novu CSV datoteku

In [19]:
data20 = data.sample(frac=0.2, random_state=1)
data = data.drop(data20.index)
print("CSV size 80: ", data.shape)
print("CSV size 20: ", data20.shape) # Random dijeljenje skupa podataka na dva dijela 80:20 (trebati će nam kasnije)

CSV size 80:  (25402, 19)
CSV size 20:  (6351, 19)

In [20]:
data20.to_csv("Crash_Data_20_novi.csv", index=False)

In [21]:
print(data.columns.values)
print(data.dtypes)

['Crash ID' 'State' 'Month' 'Year' 'Dayweek' 'Time' 'Crash Type'
 'Bus Involvement' 'Heavy Rigid Truck Involvement'
 'Articulated Truck Involvement' 'Speed Limit' 'Road User' 'Gender' 'Age'
 'Christmas Period' 'Easter Period' 'Age Group' 'Day of week'
 'Time of day']
Crash ID                          int64
State                            object
Month                             int64
Year                              int64
Dayweek                          object
Time                             object
Crash Type                       object
Bus Involvement                  object
Heavy Rigid Truck Involvement    object
Articulated Truck Involvement    object
Speed Limit                      object
Road User                        object
Gender                           object
Age                               int64
Christmas Period                 object
Easter Period                    object
Age Group                        object
Day of week                      object
Time of day                      object
dtype: object